/* MINECRAFT STYLE BITS */
/*
    By Jamie Overington Copyright 2016
*/
@font-face{
  font-family: MCChat;
  src: url(minecraftia.ttf);
}

*{
    image-rendering: pixelated;
    font-family: MCChat;
}

h3{
    .sign;
    width:50%;
    padding-top: 20px;
    padding-bottom: 20px;
    

}

.mc1{
    font-family: MCChat;
    color:#0000aa;
    text-shadow: 2px 2px 0px #00002A;
}
.mc2{
    font-family: MCChat;
    color:#00aa00;
    text-shadow: 2px 2px 0px #002A00;
}
.mc3{
    font-family: MCChat;
    color:#00AAAA;
    text-shadow: 2px 2px 0px #002A2A;
}
.mc4{
    font-family: MCChat;
    color:#AA0000;
    text-shadow: 2px 2px 0px #2A0000;
}
.mc5{
    font-family: MCChat;
    color:#AA00AA;
    text-shadow: 2px 2px 0px #2A002A;
}
.mc6{
    font-family: MCChat;
    color:#FFAA00;
    text-shadow: 2px 2px 0px #2A2A00;
}
.mc7{
    font-family: MCChat;
    color:#AAAAAA;
    text-shadow: 2px 2px 0px #2A2A2A;
}
.mc8{
    font-family: MCChat;
    color:#555555;
    text-shadow: 2px 2px 0px #151515;
}
.mc9{
    font-family: MCChat;
    color:#5555FF;
    text-shadow: 2px 2px 0px #15153F;
}

.mca{
    font-family: MCChat;
    color:#55FF55;
    text-shadow: 2px 2px 0px #153F15;
}
.mcb{
    font-family: MCChat;
    color:#55FFFF;
    text-shadow: 2px 2px 0px #153F3F;
}
.mcc{
    font-family: MCChat;
    color:#FF5555;
    text-shadow: 2px 2px 0px #3F1515;
}
.mcd{
    font-family: MCChat;
    color:#FF55FF;
    text-shadow: 2px 2px 0px #3F153F;
}
.mce{
    font-family: MCChat;
    color:#FFFF55;
    text-shadow: 2px 2px 0px #3F3F15;
}
.mcf{
    font-family: MCChat;
    color:#FFFFFF;
    text-shadow: 2px 2px 0px #3F3F3F;
}
.sign{
	background-image: url('sign.png');
    background-repeat: none !important;
    background-position: center center;
}

.mco{
	font-style: italic;
}

.mc-rb{
	font-family: MCChat;
	animation: MCRB 2s infinite;
}

@keyframes MCRB{
	0%{.mc1}
	10%{.mc2}
	20%{.mc3}
	30%{.mc4}
	40%{.mc5}
	50%{.mc6}
	60%{.mca}
	70%{.mcb}
	80%{.mcc}
	90%{.mcd}
	100%{.mce}

}





.transition(@time){
	  transition: all @time ease;
}
.hidden{
	height: 0px !important;
	padding-top: 0% !important;
	padding-bottom: 0% !important;
	overflow: hidden;
	.transition(1s)
}

.mc-button-green{
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
	background-color:#00c300;
	border-bottom: 4px solid #006F00;
	font-family: MCChat;
	color:#fff !important;
	text-shadow: 2px 2px 0px #3F3F3F;
	text-decoration: none !important;
    &:hover{
        background-color:#00c700;
        border-bottom: 4px solid #009f00;
        cursor: pointer;
    }
    &:active{
        background-color:#00c700;
        border-bottom: 0px;
        cursor: pointer;
    }
}

.mc-button-red{
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
	background-color:#a00;
	border-bottom: 4px solid #6a0000;
	font-family: MCChat;
	color:#fff !important;
	text-shadow: 2px 2px 0px #3F3F3F;
	text-decoration: none !important;
    &:hover{
        background-color:#f00;
        border-bottom: 4px solid #8d0000;
        cursor: pointer;
    }
    &:active{
        background-color:#f00;
        border-bottom: 0px;
        cursor: pointer;
    }
}
input{
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
	border: 2px solid #AAA;
	font-family: MCChat;
}

.paypal-button{
	border:none;
	text-align: center;
	padding: 0px !important;
	margin-left: 10%;
}

label{
	margin-left: 10%;
	.mc-rb
}
