@import url(https://fonts.googleapis.com/css?family=Nunito:300,400,700);
@import url(bootstrap-tagsinput.css);
/* Main Primary color */
::-moz-selection {
  background: #a30000;
  /* WebKit/Blink Browsers */
}
::selection {
  background: #a30000;
  /* WebKit/Blink Browsers */
}
/*
	Quick Document Jump Text (use CTRL F)

	JMP:FUNCT - Funtions Etc
	JMP:ETE   - Everything Else
	JMP:FORMS - Forms
	JMP:ABOX  - Alert Boxes
	JMP:BTN   - Buttons
	JMP:SP    - Site Performance
	JMP:CAL   - Calendar
	JMP:DASH   - Dashboard

	JMP:TABLET - Tablet layouts (Currently iPad only)
	JMP:MOBILE - WebKore Mobile Layout (WIP)

*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  -webkit-transition: width 0.8s;
  transition: width 0.8s;
}
::-webkit-scrollbar-track {
  background-color: #262626;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  -webkit-transform: translate(-17px);
          transform: translate(-17px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'Nunito', sans-serif;
  background-color: #262626;
  font-size: 1.0em;
}
.NyanCat {
  background-image: url('../img/nyan.gif');
  background-size: 35%;
  background-position: center center;
}
.fade-in {
  -webkit-animation: fade-in 1s 1;
          animation: fade-in 1s 1;
}
.data-green {
  color: #00a000;
  text-align: center;
}
.data-red {
  color: #a00000;
  text-align: center;
}
.deleted {
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0;
  height: 0px !important;
  overflow: hidden;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.box-style {
  -webkit-box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.15);
  border: solid 2px #1a1a1a;
  background-color: #141414;
  border-radius: 3px;
}
.login-screen {
  color: #ffffff;
  -webkit-animation: fade-in 1s 1;
          animation: fade-in 1s 1;
  border-top: solid 5px #a30000;
  width: 20%;
  padding-left: 10%;
  padding-right: 10%;
  margin-left: 30%;
  margin-top: 10vh;
  text-align: center;
  background-color: #141414;
  padding-top: 3vh;
  padding-bottom: 3vh;
  -webkit-box-shadow: 0px 0px 80px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 80px 1px rgba(0, 0, 0, 0.1);
}
.login-screen .dev-msg {
  display: none;
}
.osc-logo {
  width: 40%;
  height: 20vh;
  background-image: url("../img/bw.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 30%;
  margin-top: 5vh;
}
footer {
  border-top: solid 1px #0f0f0f;
  bottom: 0px;
  position: fixed;
  width: 18%;
  margin-left: 1%;
  text-align: center;
  font-size: 0.7em;
  line-height: 40px;
  color: #000000;
}
.menubar {
  width: 20%;
  height: 100vh;
  top: 0px;
  left: 0px;
  position: fixed;
  border-right: solid 2px #080808;
  background-color: #141414;
}
.menubar .section-title {
  border-bottom: solid 2px #212121;
  padding-bottom: 5px;
  color: #d9d9d9;
  font-weight: 800;
}
.menubar .section-title .toggle {
  float: right;
  padding-right: 10px;
  cursor: hand;
}
.menubar .collapsible li a {
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menubar .collapsible li a i {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menubar .collapsed li a {
  overflow: hidden;
  height: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-transition: all 0s;
  transition: all 0s;
}
.menubar .collapsed li a i {
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0s;
  transition: all 0s;
}
.menubar li {
  display: block;
  width: 100%;
}
.menubar li a {
  color: #ffffff;
  height: 60px;
  line-height: 60px;
  text-align: left;
  padding-left: 22%;
  text-decoration: none;
  width: 78%;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  display: block;
  font-size: 1.2em;
  font-weight: 300;
}
.menubar li a i {
  position: absolute;
  left: 5%;
  line-height: 60px;
  font-size: 1.3em;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.menubar li a:hover {
  color: #ff3d3d;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
.menubar li a:hover i {
  font-size: 1.9em;
  color: #ff3d3d;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.menubar .webkore-logo-menubar,
.menubar .osc-logo-mb {
  right: 0px;
  height: 120px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  background-color: #a30000;
  background-image: url("../img/bw.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 60%;
}
.menubar .webkore-logo-menubar i,
.menubar .osc-logo-mb i {
  display: none;
}
section {
  color: #ffffff;
  width: 60%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3vh;
  padding-bottom: 3vh;
  margin-left: 25%;
  overflow: hidden;
  margin-top: 8vh;
  margin-bottom: 10vh;
  -webkit-box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.15);
  border: solid 2px #1a1a1a;
  background-color: #141414;
  border-radius: 3px;
}
section .collapsible {
  height: auto;
  -webkit-transition: all 1s;
  transition: all 1s;
}
section .collapsed {
  height: 0px;
  overflow: hidden;
}
section .no-animation {
  -webkit-transition: all 0s !important;
  transition: all 0s !important;
}
section .section-toggle {
  background-color: #a30000;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  margin-bottom: 20px;
}
section .section-toggle i {
  float: right;
  padding-right: 10px;
}
section h1 {
  font-size: 2em;
  color: #a30000;
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
  width: 80%;
  height: 60px;
  position: fixed;
  left: 20%;
  top: 0px;
  line-height: 60px;
  -webkit-box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.4);
  background-color: #141414;
  z-index: 1000;
}
section p {
  margin-bottom: 30px;
}
section p .mini-title {
  border-bottom: solid 2px #1a1a1a;
  width: 100%;
  display: block;
  color: #a30000;
  font-weight: 700;
  font-size: 1.2em;
  margin-bottom: 10px;
}
section p .link {
  color: #a30000;
  text-decoration: none;
}
section p .link:hover {
  text-decoration: underline;
}
.list table {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-collapse: collapse;
}
.list table tbody {
  width: 100%;
}
.list table tr {
  width: 100%;
  height: 60px;
  overflow: hidden;
  color: #ffffff;
}
.list table tr th {
  text-align: center;
  background-color: #a30000;
  color: #ffffff;
}
.list table tr td {
  padding-left: 20px;
}
.list table tr .table-actions {
  text-align: center;
}
.list table tr:nth-child(odd) {
  background-color: rgba(204, 204, 204, 0.3);
}
.images {
  margin-bottom: 30px;
}
.images .g-image {
  width: 30%;
  margin-right: 1vw;
  margin-top: 1vw;
  display: inline-block;
  border: solid 4px #ffffff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  background-position: center center;
  background-size: cover;
  background-repeat: none;
}
.images .banner-image {
  width: 100%;
  height: 25vh;
  margin-right: 1vw;
  margin-top: 1vw;
  display: inline-block;
  border: solid 4px #ffffff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  font-size: 4.2em;
  background-position: center center;
  background-size: cover;
  background-repeat: none;
}
.images a {
  font-size: auto;
  font-weight: 700;
  text-align: center;
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  opacity: 0;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.images a:hover {
  opacity: 0.5;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.popout {
  width: 88%;
  margin-left: 1%;
}
.popout h1 {
  width: 100%;
  margin-left: 0%;
  left: 0%;
}
.textbox-dropdown {
  position: fixed;
  z-index: 100;
  background-color: #141414;
  width: 100%;
  height: 180px;
  text-align: center;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.5);
}
.textbox-dropdown input {
  font-size: 1.8em;
  width: 80%;
}
.tb-dd-hide {
  top: -400px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.tb-dd-show {
  top: 40vh;
  -webkit-transition: all 1s;
  transition: all 1s;
}
#yt_preview {
  width: 100%;
}
.list-thumbnail {
  text-align: center;
  width: auto;
  height: 200px;
  padding-top: 10px;
}
.form-field input[type="submit"] {
  height: 50px;
  background-color: #a30000;
  border: solid 1px #7a0000;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.form-field input[type="submit"]:hover {
  background-color: #b53333;
  border: solid 1px #953333;
}
.form-field textarea {
  width: 100%;
  min-height: 150px;
  font-size: 1.0em;
  font-family: 'Open Sans', sans-serif;
}
.form-field .tag,
.form-field .label,
.form-field .label-info {
  background-color: #a30000;
  padding: 5px;
  margin: 5px;
}
.form-field .bootstrap-tagsinput {
  width: 100%;
  display: block;
  border: solid 1px rgba(0, 0, 0, 0.3);
  line-height: 40px;
  font-family: inherit;
  font-size: 1.2em;
}
.form-field .bootstrap-tagsinput input {
  border: none !important;
  display: inline !important;
  width: auto !important;
}
.form-field input[type="text"],
.form-field input[type="password"],
.form-field input[type="email"],
.form-field input[type="date"],
.form-field input[type="time"],
.form-field input[type="number"],
.form-field input[type="tel"],
.form-field input[type="url"] {
  width: 100%;
  display: block;
  border: solid 1px rgba(0, 0, 0, 0.3);
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: inherit;
  font-size: 1.2em;
}
.form-field label {
  width: 100%;
  text-align: left;
  display: block;
}
.form-field select {
  width: 50%;
  display: block;
  border: solid 1px rgba(0, 0, 0, 0.3);
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: inherit;
  font-size: 1.2em;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 30px;
}
.option-header {
  width: 70%;
  display: inline-block;
  margin-top: 30px;
}
.onoffswitch {
  display: inline-block;
  position: relative;
  width: 55px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 20px;
  padding: 0;
  line-height: 20px;
  border: 0px solid #FFFFFF;
  border-radius: 30px;
  background-color: #9E9E9E;
}
.onoffswitch-label:before {
  content: "";
  display: block;
  width: 30px;
  margin: -5px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 31px;
  border-radius: 30px;
  -webkit-box-shadow: 0 6px 12px 0px #757575;
          box-shadow: 0 6px 12px 0px #757575;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #a30000;
}
.onoffswitch-checkbox:checked + .onoffswitch-label,
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #a30000;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
  background-color: #700000;
  -webkit-box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}
.radio-list,
.checkbox-list {
  width: 100%;
  padding-bottom: 25px;
}
.radio-list div,
.checkbox-list div {
  padding-top: 3px;
  padding-bottom: 3px;
}
.radio-list div input,
.checkbox-list div input {
  width: 20px;
  display: inline-block;
}
.radio-list div label,
.checkbox-list div label {
  width: 80%;
  display: inline-block;
}
.alert {
  width: 77%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 3%;
}
.error,
.danger {
  background: #370000;
  border: solid 1px #b40000;
  color: #ff0000;
}
.warning {
  background: #373700;
  border: solid 1px #82b400;
  color: #ffff00;
}
.success {
  background: #003700;
  border: solid 1px #00b400;
  color: #00ff00;
}
.info {
  background: #000037;
  border: solid 1px #0000b4;
  color: #0000ff;
}
.tc-tick {
  width: 15px;
  height: 15px;
  line-height: 15px;
  color: #008200;
}
.tc-cross {
  width: 15px;
  height: 15px;
  line-height: 15px;
  color: #820000;
}
.btn {
  height: 50px;
  font-weight: 300;
  padding-left: 16px;
  padding-right: 16px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-size: 1.2em;
  margin-top: 10px;
  margin: 10px;
  cursor: pointer;
  color: #ffffff;
}
.btn-delete {
  background-color: #a00000;
  border-bottom: solid 4px #6d0000;
}
.btn-delete:hover {
  background-color: #b33333;
  border-bottom: solid 4px #8a3333;
}
.btn-add {
  background-color: #00a000;
  border-bottom: solid 4px #006d00;
}
.btn-add:hover {
  background-color: #33b333;
  border-bottom: solid 4px #338a33;
}
.btn-info {
  background-color: #a30000;
  border-bottom: solid 4px #3d0000;
}
.btn-info:hover {
  background-color: #b53333;
  border-bottom: solid 4px #643333;
}
.btn-holiday {
  background-color: #d10000;
  border-bottom: solid 4px #6b0000;
}
.btn-holiday:hover {
  background-color: #da3333;
  border-bottom: solid 4px #893333;
}
.quick-data-square {
  width: 20%;
  margin-left: 2%;
  margin-right: 2%;
  display: inline-block;
  text-align: center;
  background-color: #a30000;
  color: #ffffff;
  margin-top: 20px;
}
.quick-data-square .text {
  font-weight: 400;
}
.quick-data-square .value {
  font-size: 3em;
  font-weight: 700;
}
.chart {
  border: solid 2px rgba(153, 153, 153, 0.3);
  min-height: 50vh;
}
.year-picker {
  width: auto;
  margin-bottom: 20px;
  height: 40px;
  width: 100%;
  overflow: hidden;
  background-color: #141414;
}
.year-picker p {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  width: 79%;
  height: 40px;
  line-height: 40px;
  margin-bottom: 0px;
  font-size: 1.4em;
  background-color: #141414;
}
.year-picker button {
  width: 10%;
  height: 40px;
  display: inline;
  background-color: #a30000;
  border: 0px;
  color: #ffffff;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  font-size: 1.4em;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
.year-picker button.right {
  float: right;
}
.year-picker button:active {
  background-color: #700000;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.year-picker button:hover {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  color: #ff3d3d;
}
#calendar {
  margin-bottom: 50px;
}
.calendar-month {
  width: 30%;
  display: inline-block;
  margin-right: 1.5%;
  margin-left: 1.5%;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-face-color: #a30000;
  height: 44vh;
}
.calendar-month table {
  width: 100%;
}
.calendar-month table tr td {
  width: 14.2%;
  text-align: center;
  border: solid 1px #1a1a1a;
}
.calendar-month table tr td p {
  padding-top: 30%;
  height: 55%;
  overflow: hidden;
  margin-bottom: 13px;
}
.calendar-month table tr td p a {
  height: 100%;
  display: block;
  width: 100%;
  color: #ffffff;
  text-decoration: none;
}
.calendar-month table tr td p a:hover {
  text-decoration: underline;
}
.calendar-month table tr th {
  background-color: #141414;
  color: #ffffff;
  font-weight: 300;
}
.calendar-month .month-name {
  height: 40px;
  line-height: 40px;
  font-weight: light;
  background-color: #a30000;
  color: #ffffff;
  text-align: center;
}
.calendar-month .no-day {
  background-color: #c8c8c8;
}
.calendar-month .day {
  background-color: #e6e6e6;
  cursor: hand;
}
.calendar-month .booked {
  background-color: #a30000;
  color: #ffffff;
}
.calendar-month .holiday {
  background-color: #d10000;
  color: #ffffff;
}
.options-box {
  width: 40%;
  top: 40%;
  left: 40%;
  padding-bottom: 40px;
  position: fixed;
  background-color: #141414;
  z-index: 10;
  -webkit-box-shadow: 0px 8px 20px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 8px 20px 5px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 1;
}
.options-box h3 {
  width: 100%;
  font-size: 1.4em;
  line-height: 60px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  background-color: #a30000;
}
.options-box p {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  font-size: 1.2em;
}
.options-box .butttttons {
  text-align: center;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
.options-background {
  width: 80%;
  right: 0px;
  position: fixed;
  top: 60px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0px 0px 200px 200px rgba(0, 0, 0, 0.6);
          box-shadow: inset 0px 0px 200px 200px rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.op-hidden {
  display: none;
}
.op-fade {
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
#calendar h5 {
  text-align: left;
  background-color: #a30000;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5%;
  width: 95%;
  margin-bottom: -20px;
  font-size: 1.4em;
}
.dash-button {
  width: 22%;
  margin-left: 1.4%;
  margin-bottom: 1.5%;
  display: inline-block;
  background-color: #ffd200;
  text-decoration: none;
}
.dash-button i {
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
  text-align: center;
  font-size: 4em;
  color: #262626;
}
.dash-button p {
  text-align: center;
  font-weight: 800;
  margin-top: 25px;
  color: #262626;
}
.dash-button:hover {
  background-color: #c35959;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.wk-update {
  border: solid 2px #c7c7c7;
  margin-bottom: 50px;
  padding-bottom: 90px;
}
.wk-update h2 {
  background-color: #a30000;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5%;
  border-bottom: solid 2px #c7c7c7;
}
.wk-update p,
.wk-update ul {
  width: 90%;
  margin-left: 5%;
  margin-top: 15px;
}
.wk-update p li,
.wk-update ul li {
  margin-bottom: 5px;
  width: 85%;
  margin-left: 10%;
}
.wk-update h3 {
  width: 95%;
  margin-left: 2.5%;
  margin-top: 15px;
}
.wk-update .wk-published {
  text-align: left;
  line-height: 50px;
  vertical-align: middle;
  font-style: italic;
  background-color: #e6e6e6;
  display: inline-table;
  height: 50px;
  margin-right: 5%;
  float: right;
  border-radius: 8px 30px 30px 8px ;
  border: solid 2px #ffffff;
  padding-left: 10px;
}
.wk-update .wk-published .round-img {
  width: 46px;
  height: 46px;
  margin-left: 10px;
  text-align: right;
  border-radius: 100%;
  opacity: 0.8;
  float: right;
  vertical-align: middle;
  border: solid 4px #ffffff;
}
.info-image {
  width: auto;
  display: block;
  outline: solid 2px #c8c8c8;
  padding: 10px;
  -webkit-box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}
#fb-like-preview iframe {
  width: 100%;
  border: none;
  outline: none;
}
@media only screen and (min-device-width: 600px) and (max-device-width: 800px) {
  .calendar-month {
    width: 100%;
    display: inline-block;
    margin-right: 1.5%;
    margin-left: 1.5%;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-face-color: #a30000;
    height: auto;
    margin-bottom: 30px;
  }
  .calendar-month table {
    width: 100%;
  }
  .calendar-month table tr td p {
    padding-top: 30%;
    height: 55%;
    margin-bottom: 30px !important;
  }
  footer {
    width: 100%;
    bottom: 0%;
    line-height: 20px;
    position: fixed;
    margin-left: 0%;
    margin-right: 0%;
    background-color: #141414;
  }
}
@media only screen and (min-device-width: 1000px) and (max-device-width: 1280px) {
  #calendar {
    overflow: visible;
  }
  .calendar-month {
    width: 47%;
    display: inline-block;
    margin-right: 1.5%;
    margin-left: 1.5%;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-face-color: #a30000;
    height: 65vh;
  }
  .calendar-month table {
    width: 100%;
  }
  .calendar-month table tr td p {
    padding-top: 30%;
    height: 55%;
    margin-bottom: 20px !important;
  }
  footer {
    width: 100%;
    bottom: 0%;
    line-height: 20px;
    position: fixed;
    margin-left: 0%;
    margin-right: 0%;
    background-color: #141414;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 680px) {
  body {
    font-size: 1.0em;
  }
  footer {
    width: 100%;
    bottom: 0%;
    line-height: 20px;
    position: fixed;
    margin-left: 0%;
    margin-right: 0%;
    background-color: #141414;
  }
  .mobile-vertical-only {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    top: 0%;
    left: 0%;
    background-image: url("../img/rotate.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 60%;
    background-color: #787878;
    z-index: 10000000;
  }
  .osc-logo {
    width: 80%;
    margin-left: 10%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-image: url("../img/bw.png");
  }
  .login-screen {
    width: 90%;
    margin-top: 0vh;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.0em;
  }
  .login-screen .dev-msg {
    display: block;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 90%;
    margin-left: 5%;
  }
  .menubar {
    margin-top: 60px;
    width: 100%;
    height: auto;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 1000;
  }
  .menubar li {
    width: 25vw;
    float: left;
  }
  .menubar li a {
    line-height: 10vh;
    margin-bottom: -10%;
    display: block;
    width: 100%;
    padding: 0%;
    text-align: center;
    line-height: auto;
    font-size: 1.0em;
    height: 25vw;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0);
  }
  .menubar li a .fa {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    position: relative;
    height: 5vh;
    overflow: visible;
    left: auto;
    line-height: 10vh;
    width: 100%;
    display: block;
  }
  .menubar .mb-bottom {
    top: 0%;
    right: 0%;
    position: absolute;
  }
  .menubar .section-title {
    margin-top: 1vh;
    width: 100%;
    height: 3vh;
  }
  .menubar .section-title .fa {
    font-size: 1.4em;
  }
  .menubar .osc-logo-mb {
    top: 0%;
    left: 0%;
    position: fixed;
    width: 25vw;
    background-image: none !important;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 1001;
  }
  .menubar .osc-logo-mb .fa {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0%;
    line-height: 60px;
    font-size: 2em;
    overflow: hidden;
    text-align: center;
    color: #141414;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menubar .open-menu {
    background-color: #ff3d3d;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menubar .open-menu .fa {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }
  .mobile-menubar-closed {
    top: -500%;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  section {
    margin-top: 58px;
    border-width: 0px;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    margin-left: 0%;
    margin-right: 0%;
  }
  section h1 {
    width: 75vw;
    right: 0%;
    left: auto;
    font-size: 1.5em;
  }
  section .calendar-month {
    width: 100%;
    display: inline-block;
    margin-right: 1.5%;
    margin-left: 1.5%;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-face-color: #a30000;
    height: auto;
    margin-bottom: 50px;
  }
  section .options-box {
    width: 80%;
    top: 20%;
    left: 10%;
    padding-bottom: 40px;
    position: fixed;
    background-color: #141414;
    z-index: 10;
    -webkit-box-shadow: 0px 8px 20px 5px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 8px 20px 5px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 1;
  }
  section .options-box h3 {
    width: 100%;
    font-size: 1.4em;
    line-height: 60px;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    background-color: #a30000;
  }
  section .options-box p {
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    font-size: 1.2em;
  }
  section .options-box .butttttons {
    text-align: center;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  section .options-box .butttttons a {
    display: block;
  }
  section .options-background {
    width: 100vw;
    right: 0px;
    position: fixed;
    top: 60px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0px 0px 200px 200px rgba(0, 0, 0, 0.6);
            box-shadow: inset 0px 0px 200px 200px rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  section .op-hidden {
    display: none;
  }
  section .op-fade {
    opacity: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  section .list table {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-collapse: collapse;
  }
  section .list table tbody {
    width: 100%;
  }
  section .list table tr {
    width: 100%;
    height: 60px;
    overflow: hidden;
  }
  section .list table tr th {
    text-align: center;
    background-color: #a30000;
    color: #ffffff;
    text-overflow: ellipse;
  }
  section .list table tr td {
    padding: 0px;
    font-size: 1em;
  }
  section .list table tr .mobile-hidden {
    display: none;
  }
  section .list table tr .table-actions {
    text-align: center;
  }
  section .list table tr:nth-child(odd) {
    background-color: rgba(204, 204, 204, 0.3);
  }
  section .list .btn-add {
    width: 100%;
  }
  section .images {
    margin-bottom: 10vw;
  }
  section .images .g-image {
    width: 48%;
    border: solid 0px #ffffff;
  }
  section .images .banner-image {
    border: solid 0px #ffffff;
  }
  section .images a {
    opacity: 0.2;
  }
  section .dash-button {
    width: 47%;
    margin-left: 0%;
    margin-right: 2%;
    padding-top: 8vw;
    height: 35vw;
    font-size: 0.8em;
  }
}
